@use 'variaveis';

.card {
    &__header{
        margin-top: 24px;

        &__form{
            display: flex;
        }

        &__lista{
            display: flex;
            align-items: flex-start;

            &__filtro{
                display: none;
                &--is-active{
                    display: block;
                    font-size: 18px;
                    padding-bottom: 12px;
                }
                &__item{
                    margin-block: 5px;
                }
            }

            &__item{
                list-style: none;
                margin-right: 12px;
                &__button--Adiciona{
                    list-style: none;
                    margin-top: 8px;
                }
            }

            &__button{
                font-size: 18px;
            }

            &__select{
                height: 100%;
                border: none;
                border-bottom: 3px solid variaveis.$corDeTexto;
                font-size: 18px;
            }

            &__label {
                margin-right: 6px;
                font-size: 18px;
            }
        }
    }

    &__lista{
        font-size: 12px;
        font-weight: normal;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        list-style: none;
    }
    
    &__item {
        margin-top: 16px;
        padding: 10px 25px;
        border-radius: 50px;
        background-color: variaveis.$corDeCards;
        display: flex;
        justify-content: space-between;

        &__buttons{
            display: none;
        }
        &:hover{
            .card__item__buttons{
                display: flex;
                flex-direction: column;
                margin-right: 10px;
                justify-content: space-around;
                
                &__btn{
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                }
    
    
                i {
                    margin-top: 5px;
                } 
            }
        }
    }

}