@use 'variaveis';
@use 'header';
@use 'cards';
@use 'cadastro';
@use 'login';
@use 'adiciona';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    color: variaveis.$corDeTexto;
    background-color: variaveis.$corDeFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.button{
    background-color: variaveis.$corDeButtons;
    color: #fff;
    border: none;
    padding: 8px;
    padding-inline: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease .5s;
    font-weight: bold;
    text-decoration: none;
}