<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LKR - Viagens</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="title">LKR - Viagens</h1>
            <ul class="header__list">
                {% if login == False%}
                    <li class="header__list__item">
                        <a class="header__list__a button" href="/login">LOGIN</a>
                    </li>
                    <li class="header__list__item">
                        <a class="header__list__a button" href="/cadastro">CADASTRO</a>
                    </li>
                {% endif %}
                {% if login %}
                <li class="header__list__item">
                    <i class="header__list__item__icon"><img src="/static/icon/person-circle.svg" alt=""></i>
                    <h3 class="header__list__item__user">{{ usuario }}</h3>
                    <form action="/logout" method="post">
                        <button class="button__icon">
                            <i title="logout" lass="header__list__item__icon"><img src="/static/icon/door-open-fill.svg" alt=""></i>
                        </button>
                    </form>
                    
                </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <hr> 
    <section class="header__cards">
        <div class="container">
            <div class="card__header">
                <ul class="card__header__lista">
                    <li class="card__header__lista__item">
                        <div class="card__header__lista__item__button">
                            <button data-btn-fitro class="button button__filtro">Adicionar filtro</button>
                        </div>
                        <form class="card__header__form" action="/ordenarFiltrar" method="post">
                            <div data-btn-form class="card__header__lista__filtro ">
                                <div class="card__header__lista__filtro__item">
                                    <input type="checkbox" name="destino" id="destino">
                                    <label for="filtro_destino">Destino</label>
                                    <select name="filtro_destino" id="filtro_destino">
                                        {% for item in destinos %}
                                            <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="card__header__lista__filtro__item">
                                    <input type="checkbox" name="trabalhoOuLazer" id="trabalhoOuLazer">
                                    <label for="tipo1">Trabalho ou Lazer</label>
                                    <select name="tipo1" id="tipo1">
                                        <option value="1">Lazer</option>
                                        <option value="2">Trabalho</option>
                                    </select>
                                </div>
                                <div class="card__header__lista__filtro__item">
                                    <input type="checkbox" name="NacionalOuInternacional" id="NacionalOuInternacional">
                                    <label for="tipo2">Nacional ou Internacional</label>
                                    <select name="tipo2" id="tipo2">
                                        <option value="1">Nacional</option>
                                        <option value="2">Internacional</option>
                                    </select>
                                </div>
                                <div class="card__header__lista__filtro__item">
                                    <input type="checkbox" name="Periodo" id="Periodo">
                                    <label class="card__header__lista__filtro__item__label" for="dataInicio">Periodo de: </label>
                                    <input class="card__header__lista__filtro__item__input" name="dataInicio" id="dataInicio" type="date">
                                    <label class="card__header__lista__filtro__item__label" for="dataFinal">ate: </label>
                                    <input class="card__header__lista__filtro__item__input" name="dataFinal" id="dataFinal" type="date">
                                </div>
                                <div class="card__header__lista__filtro__item"> 
                                    <button type="submit" class="button">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="card__header__lista__item__button--Adiciona">
                        <a class="button" href="/adiciona">+ Adicionar viagem</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <ul class="card__lista">
                    {% for item in lista %}
                        <li id="{{ item[0] }}" class="card__item">
                            <div class="card__item__ifo">
                                <h1>
                                    Destino: <span>{{ item[1] }}</span>
                                    <form action="/roteiro" method="post">
                                        <input type="hidden" id="id" name="id" value="{{ item[0] }}">
                                        <button class="card__item__buttons__btn" type="submit" title="Roteiro"><i><img src="/static/icon/journal-richtext.svg" alt=""></i></button>
                                    </form>
                                </h1>
                                <h1>Data da viagem: <span>{{ item[2] }}</span></h1>
                                <h1>Data da chegada: <span>{{ item[3] }}</span></h1>
                                <picture>
                                    <i><img title="{{ item[4] }}" src="/static/icon/{{ item[4] }}.svg" alt="{{ item[4] }}"></i>
                                    <i><img title="{{ item[5] }}" src="/static/icon/{{ item[5] }}.svg" alt="{{ item[5] }}"></i>
                                </picture>
                            </div>
                            <div class="card__item__buttons">
                                <form action="/copy" method="post">
                                    <input type="hidden" name="id" value="{{ item[0] }}">
                                    <button class="card__item__buttons__btn" type="submit" title="Copiar"><i><img src="/static/icon/copy.svg" alt=""></i></button>
                                </form>
                                <form action="/edit" method="post">
                                    <input type="hidden" name="id" value="{{ item[0] }}">
                                    <button class="card__item__buttons__btn" type="submit" title="Editar"><i><img src="/static/icon/pen-fill.svg" alt=""></i></button>
                                </form>
                                <form action="/add_edit">
                                    <input type="hidden" name="id" value="{{ item[0] }}">
                                </form>
                                <form action="/delet" method="post">
                                    <input type="hidden" name="id" value="{{ item[0] }}">
                                    <button class="card__item__buttons__btn" type="submit" title="Deletar"><i><img src="/static/icon/trash-fill.svg" alt=""></i></button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

<script src="/static/js/main.js"></script>
</body>
</html>